* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

tepelik {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    background: rgb(18, 255, 216);
    background: linear-gradient(90deg, rgba(18, 255, 216, 1) 0%, rgba(35, 203, 208, 1) 35%, rgba(0, 255, 226, 1) 100%);
}

.seçek {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.seçek li {
    list-style: none;
    padding: 10px 0;
    margin: -10px 0;
}

.seçek a {
    text-decoration: none;
}

.seçek>li>ul {
    display: none;
}

.seçek>li:hover>ul,
.seçek>li>ul:hover {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1000;
    margin-bottom: -100%;
    padding: 10px;
    gap: 10px;
    background: white;
    margin-top: 10px;
    border: 1px solid black;
    position: absolute;
}

main {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.bilgilik {
    border: 3px solid rgb(120, 219, 223);
    background-color: rgb(157, 226, 231);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 11pt;
}

.bilgilik h1 {
    margin: 0;
    font-size: 14pt;
}

.bilgilik p {
    margin: 3px 0 0 0;
}

.bilgilik+div {
    margin: 20px 30px;
