@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap"); /* https://data-deveb.github.io/
   1.0srmü
*/
html {
  line-height: normal;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f3f6fd;
}

bet {
  display: grid;
  width: 100%;
  grid-template-columns: auto 20fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 12px 24px;
  padding: 24px;
  grid-auto-flow: row;
  grid-template-areas: "bölüm-sol bölüm-üst bölüm-üst" "bölüm-sol bölüm-orta bölüm-sağ" "bölüm-sol bölüm-alt bölüm-alt";
}

bölüm#sol {
  grid-area: bölüm-sol;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

bölüm#üst {
  grid-area: bölüm-üst;
}

bölüm#orta {
  grid-area: bölüm-orta;
}

bölüm#sağ {
  grid-area: bölüm-sağ;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

bölüm#alt {
  grid-area: bölüm-alt;
}

.alan {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}

.üyelik {
  align-items: center;
  gap: 10px;
}

.üyelik > img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo > p {
  color: #1f1c2e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}

.dizme {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, auto) repeat(1, 1fr);
  grid-gap: 0px;
  padding: 0px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.dizme > div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.dizme > [başlık] {
  background-color: turquoise;
  border: 1px solid black;
  border-right: 0px solid black;
  margin-left: -1px;
  margin-top: -1px;
}

.dizme > [başlık]:nth-child(n-1) {
  border-right: 1px solid black;
}

.bilgi-1 {
  margin-bottom: 12px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: ghostwhite;
}

.bilgi-1 .düğmeler {
  margin-left: auto;
  gap: 12px;
  align-items: center;
}

button {
  outline: none;
  text-align: center;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #3e64ff;
  color: #3e64ff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  padding: 4px 8px;
}

label:hover > button, button:hover {
  color: white;
  background: #3e64ff;
}

button:active {
  letter-spacing: 2px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bilgi-1 .onaylı {
  color: green;
  font-weight: 700;
}

.bilgi-1 .icerik {
  gap: 5px;
}

.bilgi-1 .ek {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bilgi-1 .ek .içerik {
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 24px;
}

.bilgi-1 .ek .id {
  color: darkgray;
}

.bilgi-1 .ek .sürüm {
  font-size: 11pt;
  color: cadetblue;
}

.ekleme-bilgileri {
  gap: 5px 10px;
  align-items: center;
  font-size: 14px;
}

.ekleme-bilgileri .ekleyen {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ekleme-bilgileri .ekleyen img {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

/************************************************************************
╔═══════════════════════════════════════════════════════════════════════╗
║ BASMACA 1.0                                                           ║
║ https://data-deveb.github.io/basmaca                                  ║
║ https://github.com/data-deveb/basmaca                                 ║
╚═══════════════════════════════════════════════════════════════════════╝
************************************************************************/
input[id*=-basmacayı-],
input[id*=-basmacayı-]:checked + *,
input[id*=-basmacayı-]:not(:checked) + label + label[for$=-basmacayı-kapa] {
  /* <input> hep görünmez tutulur. */
  display: none;
}

input[id$=-basmacayı-aç] + label,
input[id$=-basmacayı-aç] + * + label {
  /* Tıklar iken yazılar seçilmemeli */
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[id$=-basmacayı-aç] + label > button,
input[id$=-basmacayı-aç] + * + label > button {
  /* Kolanlar bir düğme barındırır iken işlemesi için tanımlandı. */
  pointer-events: none;
}

@media screen and (min-width: 0) {
  [class*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [class*="1/"] {
    --b: 1;
  }
  [class*="2/"] {
    --b: 2;
  }
  [class*="3/"] {
    --b: 3;
  }
  [class*="4/"] {
    --b: 4;
  }
  [class*="5/"] {
    --b: 5;
  }
  [class*="6/"] {
    --b: 6;
  }
  [class*="7/"] {
    --b: 7;
  }
  [class*="8/"] {
    --b: 8;
  }
  [class*="9/"] {
    --b: 9;
  }
  [class*="100/"] {
    --b: 90;
  }
  [class*="(1"]:not([class*="(1/"]) {
    --o: 1;
  }
  [class*="(2"]:not([class*="(2/"]) {
    --o: 2;
  }
  [class*="(3"]:not([class*="(3/"]) {
    --o: 3;
  }
  [class*="(4"]:not([class*="(4/"]) {
    --o: 4;
  }
  [class*="(5"]:not([class*="(5/"]) {
    --o: 5;
  }
  [class*="(6"]:not([class*="(6/"]) {
    --o: 6;
  }
  [class*="(7"]:not([class*="(7/"]) {
    --o: 7;
  }
  [class*="(8"]:not([class*="(8/"]) {
    --o: 8;
  }
  [class*="(9"]:not([class*="(9/"]) {
    --o: 9;
  }
  [class*="1)"] {
    --i: 1;
  }
  [class*="2)"] {
    --i: 2;
  }
  [class*="3)"] {
    --i: 3;
  }
  [class*="4)"] {
    --i: 4;
  }
  [class*="5)"] {
    --i: 5;
  }
  [class*="6)"] {
    --i: 6;
  }
  [class*="7)"] {
    --i: 7;
  }
  [class*="8)"] {
    --i: 8;
  }
  [class*="9)"] {
    --i: 9;
  }
  [class*="/100"] {
    --i: 90;
  }
  [class*="/1"]:not([class*="/1)"]) {
    --n: 1;
  }
  [class*="/2"]:not([class*="/2)"]) {
    --n: 2;
  }
  [class*="/3"]:not([class*="/3)"]) {
    --n: 3;
  }
  [class*="/4"]:not([class*="/4)"]) {
    --n: 4;
  }
  [class*="/5"]:not([class*="/5)"]) {
    --n: 5;
  }
  [class*="/6"]:not([class*="/6)"]) {
    --n: 6;
  }
  [class*="/7"]:not([class*="/7)"]) {
    --n: 7;
  }
  [class*="/8"]:not([class*="/8)"]) {
    --n: 8;
  }
  [class*="/9"]:not([class*="/9)"]) {
    --n: 9;
  }
  [class*=görünür] {
    display: inherit;
  }
  [class*=gizli] {
    display: none !important;
  }
  [class*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [class*=block] {
    display: block;
  }
  [class*="ortalı yazı"] {
    text-align: center;
  }
  [class*="başuçlu yazı"] {
    text-align: start;
  }
  [class*="sollu yazı"] {
    text-align: left;
  }
  [class*="ayakuçlu yazı"] {
    text-align: end;
  }
  [class*="sağlı yazı"] {
    text-align: right;
  }
  [class*="yazıyı yasa"] {
    text-align: justify;
  }
  [class*=ortalı] {
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  [d-küçük*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [d-küçük*="1/"] {
    --b: 1;
  }
  [d-küçük*="2/"] {
    --b: 2;
  }
  [d-küçük*="3/"] {
    --b: 3;
  }
  [d-küçük*="4/"] {
    --b: 4;
  }
  [d-küçük*="5/"] {
    --b: 5;
  }
  [d-küçük*="6/"] {
    --b: 6;
  }
  [d-küçük*="7/"] {
    --b: 7;
  }
  [d-küçük*="8/"] {
    --b: 8;
  }
  [d-küçük*="9/"] {
    --b: 9;
  }
  [d-küçük*="100/"] {
    --b: 90;
  }
  [d-küçük*="(1"]:not([d-küçük*="(1/"]) {
    --o: 1;
  }
  [d-küçük*="(2"]:not([d-küçük*="(2/"]) {
    --o: 2;
  }
  [d-küçük*="(3"]:not([d-küçük*="(3/"]) {
    --o: 3;
  }
  [d-küçük*="(4"]:not([d-küçük*="(4/"]) {
    --o: 4;
  }
  [d-küçük*="(5"]:not([d-küçük*="(5/"]) {
    --o: 5;
  }
  [d-küçük*="(6"]:not([d-küçük*="(6/"]) {
    --o: 6;
  }
  [d-küçük*="(7"]:not([d-küçük*="(7/"]) {
    --o: 7;
  }
  [d-küçük*="(8"]:not([d-küçük*="(8/"]) {
    --o: 8;
  }
  [d-küçük*="(9"]:not([d-küçük*="(9/"]) {
    --o: 9;
  }
  [d-küçük*="1)"] {
    --i: 1;
  }
  [d-küçük*="2)"] {
    --i: 2;
  }
  [d-küçük*="3)"] {
    --i: 3;
  }
  [d-küçük*="4)"] {
    --i: 4;
  }
  [d-küçük*="5)"] {
    --i: 5;
  }
  [d-küçük*="6)"] {
    --i: 6;
  }
  [d-küçük*="7)"] {
    --i: 7;
  }
  [d-küçük*="8)"] {
    --i: 8;
  }
  [d-küçük*="9)"] {
    --i: 9;
  }
  [d-küçük*="/100"] {
    --i: 90;
  }
  [d-küçük*="/1"]:not([d-küçük*="/1)"]) {
    --n: 1;
  }
  [d-küçük*="/2"]:not([d-küçük*="/2)"]) {
    --n: 2;
  }
  [d-küçük*="/3"]:not([d-küçük*="/3)"]) {
    --n: 3;
  }
  [d-küçük*="/4"]:not([d-küçük*="/4)"]) {
    --n: 4;
  }
  [d-küçük*="/5"]:not([d-küçük*="/5)"]) {
    --n: 5;
  }
  [d-küçük*="/6"]:not([d-küçük*="/6)"]) {
    --n: 6;
  }
  [d-küçük*="/7"]:not([d-küçük*="/7)"]) {
    --n: 7;
  }
  [d-küçük*="/8"]:not([d-küçük*="/8)"]) {
    --n: 8;
  }
  [d-küçük*="/9"]:not([d-küçük*="/9)"]) {
    --n: 9;
  }
  [d-küçük*=görünür] {
    display: inherit;
  }
  [d-küçük*=gizli] {
    display: none !important;
  }
  [d-küçük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [d-küçük*=block] {
    display: block;
  }
  [d-küçük*="ortalı yazı"] {
    text-align: center;
  }
  [d-küçük*="başuçlu yazı"] {
    text-align: start;
  }
  [d-küçük*="sollu yazı"] {
    text-align: left;
  }
  [d-küçük*="ayakuçlu yazı"] {
    text-align: end;
  }
  [d-küçük*="sağlı yazı"] {
    text-align: right;
  }
  [d-küçük*="yazıyı yasa"] {
    text-align: justify;
  }
  [d-küçük*=ortalı] {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  [d-orta*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [d-orta*="1/"] {
    --b: 1;
  }
  [d-orta*="2/"] {
    --b: 2;
  }
  [d-orta*="3/"] {
    --b: 3;
  }
  [d-orta*="4/"] {
    --b: 4;
  }
  [d-orta*="5/"] {
    --b: 5;
  }
  [d-orta*="6/"] {
    --b: 6;
  }
  [d-orta*="7/"] {
    --b: 7;
  }
  [d-orta*="8/"] {
    --b: 8;
  }
  [d-orta*="9/"] {
    --b: 9;
  }
  [d-orta*="100/"] {
    --b: 90;
  }
  [d-orta*="(1"]:not([d-orta*="(1/"]) {
    --o: 1;
  }
  [d-orta*="(2"]:not([d-orta*="(2/"]) {
    --o: 2;
  }
  [d-orta*="(3"]:not([d-orta*="(3/"]) {
    --o: 3;
  }
  [d-orta*="(4"]:not([d-orta*="(4/"]) {
    --o: 4;
  }
  [d-orta*="(5"]:not([d-orta*="(5/"]) {
    --o: 5;
  }
  [d-orta*="(6"]:not([d-orta*="(6/"]) {
    --o: 6;
  }
  [d-orta*="(7"]:not([d-orta*="(7/"]) {
    --o: 7;
  }
  [d-orta*="(8"]:not([d-orta*="(8/"]) {
    --o: 8;
  }
  [d-orta*="(9"]:not([d-orta*="(9/"]) {
    --o: 9;
  }
  [d-orta*="1)"] {
    --i: 1;
  }
  [d-orta*="2)"] {
    --i: 2;
  }
  [d-orta*="3)"] {
    --i: 3;
  }
  [d-orta*="4)"] {
    --i: 4;
  }
  [d-orta*="5)"] {
    --i: 5;
  }
  [d-orta*="6)"] {
    --i: 6;
  }
  [d-orta*="7)"] {
    --i: 7;
  }
  [d-orta*="8)"] {
    --i: 8;
  }
  [d-orta*="9)"] {
    --i: 9;
  }
  [d-orta*="/100"] {
    --i: 90;
  }
  [d-orta*="/1"]:not([d-orta*="/1)"]) {
    --n: 1;
  }
  [d-orta*="/2"]:not([d-orta*="/2)"]) {
    --n: 2;
  }
  [d-orta*="/3"]:not([d-orta*="/3)"]) {
    --n: 3;
  }
  [d-orta*="/4"]:not([d-orta*="/4)"]) {
    --n: 4;
  }
  [d-orta*="/5"]:not([d-orta*="/5)"]) {
    --n: 5;
  }
  [d-orta*="/6"]:not([d-orta*="/6)"]) {
    --n: 6;
  }
  [d-orta*="/7"]:not([d-orta*="/7)"]) {
    --n: 7;
  }
  [d-orta*="/8"]:not([d-orta*="/8)"]) {
    --n: 8;
  }
  [d-orta*="/9"]:not([d-orta*="/9)"]) {
    --n: 9;
  }
  [d-orta*=görünür] {
    display: inherit;
  }
  [d-orta*=gizli] {
    display: none !important;
  }
  [d-orta*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [d-orta*=block] {
    display: block;
  }
  [d-orta*="ortalı yazı"] {
    text-align: center;
  }
  [d-orta*="başuçlu yazı"] {
    text-align: start;
  }
  [d-orta*="sollu yazı"] {
    text-align: left;
  }
  [d-orta*="ayakuçlu yazı"] {
    text-align: end;
  }
  [d-orta*="sağlı yazı"] {
    text-align: right;
  }
  [d-orta*="yazıyı yasa"] {
    text-align: justify;
  }
  [d-orta*=ortalı] {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  [d-büyük*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [d-büyük*="1/"] {
    --b: 1;
  }
  [d-büyük*="2/"] {
    --b: 2;
  }
  [d-büyük*="3/"] {
    --b: 3;
  }
  [d-büyük*="4/"] {
    --b: 4;
  }
  [d-büyük*="5/"] {
    --b: 5;
  }
  [d-büyük*="6/"] {
    --b: 6;
  }
  [d-büyük*="7/"] {
    --b: 7;
  }
  [d-büyük*="8/"] {
    --b: 8;
  }
  [d-büyük*="9/"] {
    --b: 9;
  }
  [d-büyük*="100/"] {
    --b: 90;
  }
  [d-büyük*="(1"]:not([d-büyük*="(1/"]) {
    --o: 1;
  }
  [d-büyük*="(2"]:not([d-büyük*="(2/"]) {
    --o: 2;
  }
  [d-büyük*="(3"]:not([d-büyük*="(3/"]) {
    --o: 3;
  }
  [d-büyük*="(4"]:not([d-büyük*="(4/"]) {
    --o: 4;
  }
  [d-büyük*="(5"]:not([d-büyük*="(5/"]) {
    --o: 5;
  }
  [d-büyük*="(6"]:not([d-büyük*="(6/"]) {
    --o: 6;
  }
  [d-büyük*="(7"]:not([d-büyük*="(7/"]) {
    --o: 7;
  }
  [d-büyük*="(8"]:not([d-büyük*="(8/"]) {
    --o: 8;
  }
  [d-büyük*="(9"]:not([d-büyük*="(9/"]) {
    --o: 9;
  }
  [d-büyük*="1)"] {
    --i: 1;
  }
  [d-büyük*="2)"] {
    --i: 2;
  }
  [d-büyük*="3)"] {
    --i: 3;
  }
  [d-büyük*="4)"] {
    --i: 4;
  }
  [d-büyük*="5)"] {
    --i: 5;
  }
  [d-büyük*="6)"] {
    --i: 6;
  }
  [d-büyük*="7)"] {
    --i: 7;
  }
  [d-büyük*="8)"] {
    --i: 8;
  }
  [d-büyük*="9)"] {
    --i: 9;
  }
  [d-büyük*="/100"] {
    --i: 90;
  }
  [d-büyük*="/1"]:not([d-büyük*="/1)"]) {
    --n: 1;
  }
  [d-büyük*="/2"]:not([d-büyük*="/2)"]) {
    --n: 2;
  }
  [d-büyük*="/3"]:not([d-büyük*="/3)"]) {
    --n: 3;
  }
  [d-büyük*="/4"]:not([d-büyük*="/4)"]) {
    --n: 4;
  }
  [d-büyük*="/5"]:not([d-büyük*="/5)"]) {
    --n: 5;
  }
  [d-büyük*="/6"]:not([d-büyük*="/6)"]) {
    --n: 6;
  }
  [d-büyük*="/7"]:not([d-büyük*="/7)"]) {
    --n: 7;
  }
  [d-büyük*="/8"]:not([d-büyük*="/8)"]) {
    --n: 8;
  }
  [d-büyük*="/9"]:not([d-büyük*="/9)"]) {
    --n: 9;
  }
  [d-büyük*=görünür] {
    display: inherit;
  }
  [d-büyük*=gizli] {
    display: none !important;
  }
  [d-büyük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [d-büyük*=block] {
    display: block;
  }
  [d-büyük*="ortalı yazı"] {
    text-align: center;
  }
  [d-büyük*="başuçlu yazı"] {
    text-align: start;
  }
  [d-büyük*="sollu yazı"] {
    text-align: left;
  }
  [d-büyük*="ayakuçlu yazı"] {
    text-align: end;
  }
  [d-büyük*="sağlı yazı"] {
    text-align: right;
  }
  [d-büyük*="yazıyı yasa"] {
    text-align: justify;
  }
  [d-büyük*=ortalı] {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  [d-koca*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [d-koca*="1/"] {
    --b: 1;
  }
  [d-koca*="2/"] {
    --b: 2;
  }
  [d-koca*="3/"] {
    --b: 3;
  }
  [d-koca*="4/"] {
    --b: 4;
  }
  [d-koca*="5/"] {
    --b: 5;
  }
  [d-koca*="6/"] {
    --b: 6;
  }
  [d-koca*="7/"] {
    --b: 7;
  }
  [d-koca*="8/"] {
    --b: 8;
  }
  [d-koca*="9/"] {
    --b: 9;
  }
  [d-koca*="100/"] {
    --b: 90;
  }
  [d-koca*="(1"]:not([d-koca*="(1/"]) {
    --o: 1;
  }
  [d-koca*="(2"]:not([d-koca*="(2/"]) {
    --o: 2;
  }
  [d-koca*="(3"]:not([d-koca*="(3/"]) {
    --o: 3;
  }
  [d-koca*="(4"]:not([d-koca*="(4/"]) {
    --o: 4;
  }
  [d-koca*="(5"]:not([d-koca*="(5/"]) {
    --o: 5;
  }
  [d-koca*="(6"]:not([d-koca*="(6/"]) {
    --o: 6;
  }
  [d-koca*="(7"]:not([d-koca*="(7/"]) {
    --o: 7;
  }
  [d-koca*="(8"]:not([d-koca*="(8/"]) {
    --o: 8;
  }
  [d-koca*="(9"]:not([d-koca*="(9/"]) {
    --o: 9;
  }
  [d-koca*="1)"] {
    --i: 1;
  }
  [d-koca*="2)"] {
    --i: 2;
  }
  [d-koca*="3)"] {
    --i: 3;
  }
  [d-koca*="4)"] {
    --i: 4;
  }
  [d-koca*="5)"] {
    --i: 5;
  }
  [d-koca*="6)"] {
    --i: 6;
  }
  [d-koca*="7)"] {
    --i: 7;
  }
  [d-koca*="8)"] {
    --i: 8;
  }
  [d-koca*="9)"] {
    --i: 9;
  }
  [d-koca*="/100"] {
    --i: 90;
  }
  [d-koca*="/1"]:not([d-koca*="/1)"]) {
    --n: 1;
  }
  [d-koca*="/2"]:not([d-koca*="/2)"]) {
    --n: 2;
  }
  [d-koca*="/3"]:not([d-koca*="/3)"]) {
    --n: 3;
  }
  [d-koca*="/4"]:not([d-koca*="/4)"]) {
    --n: 4;
  }
  [d-koca*="/5"]:not([d-koca*="/5)"]) {
    --n: 5;
  }
  [d-koca*="/6"]:not([d-koca*="/6)"]) {
    --n: 6;
  }
  [d-koca*="/7"]:not([d-koca*="/7)"]) {
    --n: 7;
  }
  [d-koca*="/8"]:not([d-koca*="/8)"]) {
    --n: 8;
  }
  [d-koca*="/9"]:not([d-koca*="/9)"]) {
    --n: 9;
  }
  [d-koca*=görünür] {
    display: inherit;
  }
  [d-koca*=gizli] {
    display: none !important;
  }
  [d-koca*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [d-koca*=block] {
    display: block;
  }
  [d-koca*="ortalı yazı"] {
    text-align: center;
  }
  [d-koca*="başuçlu yazı"] {
    text-align: start;
  }
  [d-koca*="sollu yazı"] {
    text-align: left;
  }
  [d-koca*="ayakuçlu yazı"] {
    text-align: end;
  }
  [d-koca*="sağlı yazı"] {
    text-align: right;
  }
  [d-koca*="yazıyı yasa"] {
    text-align: justify;
  }
  [d-koca*=ortalı] {
    justify-content: center;
  }
}
[d-koca*="/"], [d-büyük*="/"], [d-orta*="/"], [d-küçük*="/"], [class*="/"] {
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[d-koca*="//"], [d-koca*="/"], [d-büyük*="//"], [d-büyük*="/"], [d-orta*="//"], [d-orta*="/"], [d-küçük*="//"], [d-küçük*="/"], [class*="//"], [class*="/"] {
  display: flex;
  flex-wrap: wrap;
}

[d-koca*="/)"], [d-büyük*="/)"], [d-orta*="/)"], [d-küçük*="/)"], [class*="/)"] {
  flex: calc(var(--o) * 10 + var(--b));
}

[d-koca*="(0)"], [d-büyük*="(0)"], [d-orta*="(0)"], [d-küçük*="(0)"], [class*="(0)"] {
  flex-basis: auto;
  max-width: none;
  width: auto;
}

[class*=sağlı] {
  margin-left: auto;
}

[d-küçük*=sağlı] {
  margin-left: auto;
}

[d-orta*=sağlı] {
  margin-left: auto;
}

[d-büyük*=sağlı] {
  margin-left: auto;
}

[d-koca*=sağlı] {
  margin-left: auto;
}/*# sourceMappingURL=deveb.css.map */