/************************************************************************
╔═══════════════════════════════════════════════════════════════════════╗
║ BASMACA 1.1                                                           ║
║ https://data-deveb.github.io/basmaca                                  ║
║ https://github.com/data-deveb/basmaca                                 ║
╚═══════════════════════════════════════════════════════════════════════╝
************************************************************************/

input[id*="-basmacayı-"],
input[id*="-basmacayı-"][type="radio"]:checked + *,
input[id*="-basmacayı-"]:not(:checked) + label + [for$="-basmacayı-yum"]{
  /* <input> hep görünmez tutulur. */
  display: none;
}

[for*="-basmacayı-"] {
  /* Tıklar iken yazılar seçilmemeli */
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[for*="-basmacayı-"] button{
  /* Kolanlar bir düğme barındırır iken işlemesi için tanımlandı. */
  pointer-events: none;
}

