/************************************************************************
╔═══════════════════════════════════════════════════════════════════════╗
║ BASMACA 1.0                                                           ║
║ https://data-deveb.github.io/basmaca                                  ║
║ https://github.com/data-deveb/basmaca                                 ║
╚═══════════════════════════════════════════════════════════════════════╝
************************************************************************/

input[id*="-basmaca-"],
input[id*="-basmaca-"][type="radio"]:checked + *,
input[id*="-basmaca-"]:not(:checked) + label + [for^="close-basmaca-"]{
  /* <input> hep görünmez tutulur. */
  display: none;
}

[for*="-basmaca-"] {
  /* Tıklar iken yazılar seçilmemeli */
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[for*="-basmaca-"] button{
  /* Kolanlar bir düğme barındırır iken işlemesi için tanımlandı. */
  pointer-events: none;
}

