{%- assign dallik = site.data.sechek -%}
{%- assign dil = page.lang -%}
{%- assign surum = '1.2' -%}
{%- assign yol = '/kılavuz/' | append: surum | append: '/' -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: ' tr ' }}">
{% include head.html %}

<body>
    <div class="kılavuz__tepelik">
        <damga class="(1/)" style="align-items: center; gap:5px;">
            <img src="{{site.baseurl}}/basmaca-damgası.png" width="24px" alt="Basmaca damgası"> basmaca
        </damga>
        <input type="radio" id="0001-basmacasını-aç" name="0001-tr">
        <label for="0001-basmacasını-aç" d-koca="gizli">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
        </label>

        <label for="0001-basmacasını-yum" style="position: absolute; z-index: 63; right: 32px; top: 24px;"
            d-koca="gizli">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                <path
                    d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z" />
            </svg>
        </label>

        <input id="0001-basmacasını-yum" type="radio" name="0001-tr" checked>
        <label modal class="sayfalar">
            {% for dal in dallik %}
            <div>
                <h4>{{ dal[1].ad.tr }}</h4>
                <div>
                    {%- for baglanti in dal[1].alt -%}
                    {%- assign anayol = yol | append: baglanti[1].url.tr -%}
                    {%- assign pageurl = page.url | url_decode -%}
                    <a href="{{ site.url }}{{ site.baseurl }}{{ anayol }}" class="{%- if yol == anayol or pageurl contains anayol -%}mevcut{%- elsif page.url contains anayol and yol != anayol -%}mevcut{%- endif -%}">
                        {{ baglanti[1].ad.tr }}
                    </a>
                    {%- endfor -%}
                </div>
            </div>
            {% endfor %}
        </label>

    </div>
    <div class="asd">
        <div class="kılavuz__sol sayfalar gizli" d-koca="block (6/28)">
            {% for dal in dallik %}
            <div>
                <h4>{{ dal[1].ad.tr }}</h4>
                <div>
                    {%- for baglanti in dal[1].alt -%}
                    {%- assign anayol = yol | append: baglanti[1].url.tr -%}
                    {%- assign pageurl = page.url | url_decode -%}
                    <a href="{{ site.url }}{{ site.baseurl }}{{ anayol }}" class="{%- if yol == anayol or pageurl contains anayol -%}mevcut{%- elsif page.url contains anayol and yol != anayol -%}mevcut{%- endif -%}">
                        {{ baglanti[1].ad.tr }}
                    </a>
                    {%- endfor -%}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="kılavuz__ana (28/28) ortalı" d-koca="(22/28)">
            <div class="x block (90/100)">
                {%- assign contentt = content | markdownify -%}
                {{ contentt }}
                <div class="sayfalar kılavuz__sağ gizli" d-büyük="block">
                    <div>
                        <h4>Bu Bette</h4>
                        {% capture itemClass %}.h%level%{% endcapture %}
                        {% include toc.html html=contentt item_class=itemClass sanitize="true" %}
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>